@model TestWeb.Models.Department.ViewModel.DepartmentViewModel

@{
    ViewBag.Title = "所属選択画面";
}
@Styles.Render("~/Content/Site-Department")

@section scripts {
    @Scripts.Render("~/bundles/app-Department")
}

<div class="form-horizontal">
    @using (Html.BeginForm("SelectDepartment", "Department",FormMethod.Get, new {id="DepartmentForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>

        <table id="DepartmentList" class="table select-row">
            <thead>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserDepartmentList.First().DepartmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserDepartmentList.First().PositionName)
                    </th>
                    <th hidden></th>
                </tr>
            </thead>
            <tbody>

                @{
                    int i = 0;
                }
                @foreach (var item in Model.UserDepartmentList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositionName)
                        </td>
                        <td hidden>
                            <span name="SelectNumber">@i</span>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>


        </table>
    }
</div>


